@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

body {
    background-color: #f3e1e5;  
}

.cabeca{
    position: fixed;
    background-color: CE3459; 
    margin-left: 1300px; 
    margin-top:150px; 
    text-align: center;
    z-index: 9999; /* Garante que a cabeça esteja na frente de outros elementos */ 
}

.ret {
    background: #CE3459; 
    width: 50px;
    height: 300px;
    border-radius: 50px;

}

.icon {
    margin-top: 20px;
    width: 25px;
    height: 25px;
}

.icone {
    margin-top: 35px;
    width: 25px;
    height: 25px;
}

.icon:hover {
    cursor:pointer;
    transform: scale(1.5);
}

.icone:hover {
    cursor: pointer;
    transform: scale(1.5); 
}

.canto {
    width: 180px;
    height: 681px;
    background-color: #CE3459;
    position: fixed;
}


.pequena {
    height: 180px;
    width: 180px; 
}

.lista1 {
    font-size: 20px;
    margin-top: 80px;
    text-align: center;
}

.lista {
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
}

.lista:hover {
    cursor: pointer;
}

.lista1:hover {
    cursor: pointer;
}

.lista2:hover {
    cursor: pointer;
}

.lista2 {
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
    color: white;
}

.about {
    position: fixed;
    width: 500px;
    height: 50px;
    background-color: #CE3459;
    text-align: center; 
    margin-left: 500px;
    margin-top: 50px;
    z-index: 9999; 

}


.para {
    font-size: 45px;
}

.edu {
    font-size: 30px;
    color: #CE3459;
    margin-left: 300px;
    margin-top: 170px;
    z-index: 9999; 
    position: absolute; /* Para a referencia n ser do html e sim dentro de local especifico */ 
}

.grady {
    width: 150px;
    height: 30px;
    background-color: #CE3459;
    color: #CE3459;
    margin-left: 300px; 
    margin-top: 220px;
    z-index: 9999; 
    position: absolute;
}

.data {
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
    color: black;
}

.name {
    font-size: 20px;
    margin-left: 300px; 
    margin-top: 260px;
    z-index: 9999; 
    position: absolute;
}

.textin {
    width: 300px;
    font-size: 20px;
    margin-left: 300px; 
    margin-top: 290px;
    z-index: 9999; 
    position: absolute;
}

.gradi {
    width: 150px;
    height: 30px;
    background-color: #CE3459;
    color: #CE3459;
    margin-left: 800px; 
    margin-top: 220px;
    z-index: 9999; 
    position: absolute;
}

.date {
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
    color: black;
}

.nome {
    font-size: 20px;
    margin-left: 800px; 
    margin-top: 260px;
    z-index: 9999; 
    position: absolute;
}

.texti {
    width: 300px;
    font-size: 20px;
    margin-left: 800px; 
    margin-top: 290px;
    z-index: 9999; 
    position: absolute;
}

hr {
    color:#CE3459;
    border: none;
    border-top: 5px dotted;
    width: 800px;
    margin-top: 400px;
    position: absolute;
    margin-left: 300px; 
}
