@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

body {
    background-color: #f3e1e5;  
}

.cabeca{
    position: fixed;
    background-color: CE3459; 
    margin-left: 1300px; 
    margin-top:150px; 
    text-align: center;
    z-index: 9999; /* Garante que a cabeça esteja na frente de outros elementos */ 
}

.ret {
    background: #CE3459; 
    width: 50px;
    height: 300px;
    border-radius: 50px;

}

.icon {
    margin-top: 20px;
    width: 25px;
    height: 25px;
}

.icone {
    margin-top: 35px;
    width: 25px;
    height: 25px;
}

.icon:hover {
    cursor:pointer;
    transform: scale(1.5);
}

.icone:hover {
    cursor: pointer;
    transform: scale(1.5); 
}

.canto {
    width: 180px;
    height: 100%;
    background-color: #CE3459;
    position: fixed;
}


.pequena {
    height: 180px;
    width: 180px; 
}

.lista1 {
    font-size: 20px;
    margin-top: 80px;
    text-align: center;
}

.lista {
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
}

.lista:hover {
    cursor: pointer;
}

.lista1:hover {
    cursor: pointer;
}

.lista2:hover {
    cursor: pointer;
}

.lista2 {
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
    color: white;
}

.about {
    position: fixed;
    width: 500px;
    height: 50px;
    background-color: #CE3459;
    text-align: center; 
    margin-left: 500px;
    margin-top: 50px;
    z-index: 9999; 

}

.para {
    font-size: 45px;
}

.card1{
    margin-left: 350px;
    margin-top: 200px;
    width: 200px; 
    height: 200px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    position: absolute;
    z-index: 9999;
    border: 5px solid #F1EC0D;
}

.card1:hover{
    border: 5px solid #CE3459;
    cursor: pointer;
}

.card2{
    margin-left: 650px;
    margin-top: 200px;
    width: 200px; 
    height: 200px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    position: absolute;
    z-index: 9999;
    border: 5px solid #37AAFE;
}

.card2:hover{
    border: 5px solid #CE3459;
    cursor: pointer;
}

.card3{
    margin-left: 950px;
    margin-top: 200px;
    width: 200px; 
    height: 200px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    position: absolute;
    z-index: 9999;
    border: 5px solid #F5EEE4;
}

.card3:hover{
    border: 5px solid #CE3459;
    cursor: pointer;
}

.textfinal{
    color: #CE3459;
    font-size: 35px;
    margin-left: 550px;
    margin-top: 500px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    position: absolute;
    z-index: 9999;
}





